In [12]:
from pypasta.ParamDict import ParamDict
from pypasta import ureg
import tomllib

In [2]:
params1 = ParamDict({'param1': np.arange(1000) * ureg.Unit('m'), 'param2': np.arange(1000) * ureg.Unit('s')})
params2 = ParamDict({'param1': [3,2] * ureg.Unit('m'), 'param2': [40, 50] * ureg.Unit('s')})
params3 = ParamDict({'param3': np.arange(1000) * ureg.Unit('m'), 'param4': np.arange(1000) * ureg.Unit('s')})

In [10]:
df = (params1 * params3).to_data_frame()
df

        param1 [m]  param2 [s]  param3 [m]  param4 [s]
0                0           0         0.0         0.0
1                1           1         0.0         0.0
2                2           2         0.0         0.0
3                3           3         0.0         0.0
4                4           4         0.0         0.0
...            ...         ...         ...         ...
999995         995         995       999.0       999.0
999996         996         996       999.0       999.0
999997         997         997       999.0       999.0
999998         998         998       999.0       999.0
999999         999         999       999.0       999.0

[1000000 rows x 4 columns]

In [13]:
{'group1': {'type': 'group', 'combine_method': 'product', 'set1': {'type': 'set', 'sampling_method': 'halton', 'bounds': {'prepulse_delay': [0, 2e-11], 'prepulse_a0': [0.068, 0.8328], 'main_pulse_a0': [38, 47]}}, 'set2': {'type': 'set', 'sampling_method': 'static', 'units': {'prepulse_direction': 'deg'}}}, 'halton_parameters': {'units': {'main_pulse_a0': '', 'prepulse_a0': '', 'prepulse_delay': 's'}}, 'gropu1': {'set2': {'values': {'prepulse_direction': [0, 45, 90]}}}}

{'group1': {'type': 'group',
  'combine_method': 'product',
  'set1': {'type': 'set',
   'sampling_method': 'halton',
   'bounds': {'prepulse_delay': [0, 2e-11],
    'prepulse_a0': [0.068, 0.8328],
    'main_pulse_a0': [38, 47]}},
  'set2': {'type': 'set',
   'sampling_method': 'static',
   'units': {'prepulse_direction': 'deg'}}},
 'halton_parameters': {'units': {'main_pulse_a0': '',
   'prepulse_a0': '',
   'prepulse_delay': 's'}},
 'gropu1': {'set2': {'values': {'prepulse_direction': [0, 45, 90]}}}}